table {
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  /* letter-spacing: 1px; */
  /* font-size: 0.8rem; */
}
td,
th {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}
.first_row {
  font-style: italic;
}
#phone {
  background-color: aqua;
}
input {
  margin-top: 10px;
  border-style: groove;
  border-color: rgb(0, 0, 0);
}
#search1 {
  background-image: url("./magnifier.jpg");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 15px;
}
