table {
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  /* letter-spacing: 1px; */
  /* font-size: 0.8rem; */
}
td,
th {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}
.first_row {
  font-style: italic;
}
#phone {
  background-color: aqua;
}
input {
  margin-top: 10px;
  box-sizing: content-box;
  width: 200px;
  border: 2px solid;
  border-color: rgb(0, 0, 0);
}
#search1 {
  border-radius: 15px;
  background-image: url("./magnifier.jpg");
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 15px;
}
.container {
  display: flex;
  background-color: bisque;
  flex-direction: row;
  justify-content: space-evenly;
}

.child {
  background-color: rgb(0, 255, 115);
  /* margin: auto; */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
